@page "/"
@using DcaCalculator.Components


<div class="container text-center mt-5">
    <h1 class="display-4 text-primary">Welcome to DCA Investment Calculator</h1>
    <p class="lead mt-3">
        Use our Dollar Cost Averaging (DCA) tool to explore how regular investments in cryptocurrency could benefit your portfolio.
    </p>
    <a href="/dca-calculator" class="btn btn-lg btn-primary mt-4">
        Go to DCA Calculator
    </a>
</div>